{#
<article
  class="tease tease-{{post.post_type}}"
  id="tease-{{post.ID}}">
  {% block content %}
    <div class="inner"
         style="background-image:url({{post.thumbnail.src}})">
      <a class="cover-link" href="{{post.link}}"></a>
      <div class="teaser-content">
        <h2 class="h2">{{post.title}}</h2>
        <p>{{post.preview}}</p>
      </div>
    </div>
  {% endblock %}
</article>
#}

<article
  class="teaser teaser-{{post.post_type}}"
  id="teaser-{{post.ID}}">
  {% block content %}
    <div class="teaser--inner">
      <div class="teaser--proportions"></div>
      <div class="teaser--content">
        <h2 class="teaser--title">{{post.title}}</h2>
        <p class="teaser--body">{{post.preview}}</p>
      </div>
      <img class="teaser--image" src="{{post.thumbnail.src('square-medium')}}">
      <a class="teaser--cover-link" href="{{post.link}}">Read More</a>
    </div>
  {% endblock %}
</article>
