{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

<body class="{{body_class}}" data-template="base.twig">

<div class="site-wrapper">
	<div id="page" class="site">
		<div class="site-inner">

			<div class="section-wrapper section-wrapper--header">
				<header id="masthead" class="section section--header">
					<div id="masthead-inner" class="section-inner section-inner--header">
						{% include 'header.twig' %}
					</div><!-- .section-inner -->
				</header>
			</div>

			<div class="section-wrapper section-wrapper--hero">
				<section id="hero" class="section section--hero">
					<div id="hero-inner" class="section-inner section-inner--hero">
						{{ sidebar__hero }}
					</div><!-- .section-inner -->
				</section>
			</div>

			<div class="section-wrapper section-wrapper--content">
				<section id="content" role="main" class="section section--content">
					<div id="content-inner" class="section-inner section-inner--content">
						{% if title %}<h1>{{title}}</h1>{% endif %}
						<div class="wrapper {{sidebar_class}}">
							{% block content %}
								Sorry, no content
							{% endblock %}
						</div>
						{% if sidebar %}
							<aside class="layout-sidebar">
								{{ sidebar }}
							</aside>
						{% endif %}
					</div>
				</section>
			</div>

			<div class="section-wrapper section-wrapper--homepage-callouts">
				<section id="homepage-callouts" class="section section--homepage-callouts">
					<div id="homepage-callouts-inner" class="section-inner section-inner--homepage-callouts">
						{{ sidebar__homepage_callouts }}
					</div><!-- .section-inner -->
				</section>
			</div>

			<div class="section-wrapper section-wrapper--footer">
				<footer id="footer" class="section section--footer">
					<div id="footer-inner" class="section-inner section-inner--footer">
						{% include 'footer.twig' %}
					</div><!-- .section-inner -->
				</footer>
			</div>

			{{ function('wp_footer') }}

		</div>
	</div>
</div>

</body>
</html>
