{% block header %}

<div class="site-branding">
    {{ function('the_custom_logo') }}
    <h1 class="site-name">
        <a class="site-name--link" href="{{site.url}}" rel="home">{{site.name}}</a>
    </h1>
    <h3>{{ site.description }}</h3>
</div><!-- .site-branding -->

<div class="sidebar--header">
    {{ sidebar__header }}
</div>

<nav id="site-navigation" class="main-navigation" role="navigation">
    {% include "menu.twig" with {'menu': menu.get_items} %}
</nav><!-- #site-navigation -->

{% endblock %}
