{% extends "base.twig" %}

{% block content %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="article-h1">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>

		<div class="homepage-callouts">
			<hr />
		    This is where "(( sidebar__homepage_callouts ))" is called:
			{{ sidebar__homepage_callouts }}


						--->{{ sidebar__header }}<---

			<hr />
		</div>

	</div><!-- /content-wrapper -->
{% endblock %}
